html, body {
  margin: 0;
  padding: 0;
  height: 100%;
 }

#header {
  margin: 0;
  padding: 0;
  height: 5%;
  width:100%;
}

#map_canvas {
  margin: 0;
  padding: 0;
  height: 95%;
 }

.hidden {
  visibility: hidden;
}

.spacer {
  padding-left: 0.5em;
}

